<div class="content">
    <h1 class="title mb-5">Расходы</h1>

    <div id="expense-categories" class="expense-categories d-flex flex-wrap gap-4">
        <a id="create-new-category" href="/expense-create">
            <div class="card add-expense-category ps-5 pe-0 pe-md-5">
                <div class="card-body pe-3 pe-md-5 ps-5 mx-3">
                    <p class="text-secondary fs-1 text-center pe-5 ps-5">+</p>
                </div>
            </div>
        </a>
    </div>

    <div class="modal" id="modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center fw-bold py-4">
                    <p>Вы действительно хотите удалить категорию? Связанные доходы будут удалены навсегда.</p>
                    <button type="button" class="btn btn-success me-2" data-bs-dismiss="modal" id="confirm-delete-button">Да, удалить</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Не удалять</button>
                </div>
            </div>
        </div>
    </div>

</div>
